name: Deploy Flutter Web App to GitHub Pages

on:
  push:
    branches:
      - main  # main 브랜치에 푸시될 때마다 실행

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.1'
        
    - name: Verify Flutter installation
      run: flutter --version
      
    - name: Install dependencies
      run: flutter pub get

    - name: Build Flutter Web
      run: flutter build web --release --base-href="/uxzero/"

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build/web  # 빌드된 웹 파일이 있는 디렉토리
